@model Texnokaktus.ProgOlymp.YandexContestIntegrationService.Domain.ContestStageApplication

<tr>
    <td><a asp-action="Item" asp-route-id="@Model.Id">@Model.Id</a></td>
    <td>@Model.AccountId</td>
    <td>@Model.ContestStageId</td>
    <td>
        @{
            await Html.RenderPartialAsync("StateBadge", @Model.State);
        }
    </td>
    <td>@Model.CreatedUtc</td>
</tr>
